
<table>
  <tr>
<td><img class="logoouar" src="assets/jdide.jpg"></td>
<td><img class="Titre" src="assets/titre.png"></td>
<td><img class="logowiz" src=" assets/logowz.png"></td>

  </tr>
  </table>
<nav>
    <!-- navbar brand, navbar menu... -->
    <ul>
      <a routerLink="/">  <li><button type="button" class="btn">Accueil</button></li></a>
      <a routerLink="/aprpos"> <li> <button type="button" class="btn">A propos</button></li></a>
      <a routerLink="/contacteznous">  <li><button type="button" class="btn">Concatez-nous</button></li></a>
      <a routerLink="/seconnecter"> <li><button type="button" class="btn">Se connecter</button></li></a>
      <li class="search-icon">
        <input type="search" placeholder="Search.." class="input">
        <button type="submit" class="button "><i class="fa-solid fa-magnifying-glass"></i></button>
        

      </li>

  </ul> 
  </nav>
     