@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
table, th, td {
    border: 1px solid lightgray;
    padding: 15px;
  }
  table {
    border-spacing: 10px;
    color: whitesmoke;
    height: 200px;
  }
  td{
      color:black;
  }

i{
    padding-left: 8px;
    padding-right: 8px;
}

h2{

    font-family: 'Playfair Display', serif;
}
th{
    background-color: #009B72;
    color: aliceblue;
}
.mod{
    text-align: center;
}
#nn{
    text-align: center;
}

.btn1{
    background-color: #B5DFB2;
}
.btn2{
    background-color: #ff3761;
}
.btn3{
    background-color: lightblue;
}
a{
    text-decoration: none;
    color: white ;
}
