@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
table, th, td {
    border: 1px solid lightgray;

  }
  table {
    border-spacing: 10px;
    color: whitesmoke;
    height: 200px;
    border-radius: 8px;
  }

  td{
      color:black;
    
  }
thead {
    background-color:#009B72 ;
    height:s
}
i{
    padding-left: 8px;
    padding-right: 8px;
}

h2{

    font-family: 'Playfair Display', serif;
}

th{
  font-family:'Playfair Display', serif; 
  color: aliceblue;
  background-color: #009B72;
  padding-left:20px ;
  

}
tr{
  border-bottom:10px solid white;
  background-color: #F5F5F5;

}
tr:hover{
  background-color: #B5DFB2;
}


.btn1{
  height: 40px;
  margin-top: 32.5%;
  margin-left: 75%;
  display: block;
  font-size: .95rem;
  background-color: #009b72;
    height: 30px;
    color: bisque;
    padding: .3rem;
    border-radius: 20px;
    width: 150px;
    padding-bottom: 15px;
    padding-top: 5px;
    border: none;
    text-decoration: none;
  }
  
  .btn1:hover{
  background-color: #10b489 ;
  cursor: pointer;
  box-shadow: 0 0 5px #10b489,
              0 0 20px #10b489,        
              0 0 60px #10b489,
              0 0 150px #10b489                ;
  }
  a{
    text-decoration: none;
  }

  .nn{
text-align:center ;
  }
  .mm{
    text-align: center;
  }
 
  .Voir{
    background-color: #097e51;
  }

  
  #fonc{
    text-align: center;
  }
  i{
    text-align: center;
  }
a{
  text-decoration: none;
  color: white;
}