<div>
  <div class="text-center pb-2"><h2>Liste des Demandes</h2></div>
  <table
    mat-table
    [dataSource]="dataSource"
    style="width: 100%"
    class="text-center"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="mm">Id</th>
      <td mat-cell *matCellDef="let element" class="nn">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="dateDemande">
      <th mat-header-cell *matHeaderCellDef class="mm">Date demande</th>
      <td mat-cell *matCellDef="let element" class="nnc">{{ element.dateDemande }}</td>
    </ng-container>

    <ng-container matColumnDef="dateDebut">
      <th mat-header-cell *matHeaderCellDef class="mm">date Debut</th>
      <td mat-cell *matCellDef="let element" class="nn">{{ element.dateDebut }}</td>
    </ng-container>

    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef class="mm">date de Fin</th>
      <td mat-cell *matCellDef="let element" class="nn">{{ element.dateFin }}</td>
    </ng-container>
    <ng-container matColumnDef="nombreDeJours">
      <th mat-header-cell *matHeaderCellDef class="mm">nombre Jours</th>
      <td mat-cell *matCellDef="let element" class="nn">{{ element.nombreDeJours }}</td>
    </ng-container>
    <ng-container matColumnDef="etat">
      <th mat-header-cell *matHeaderCellDef class="mm">Etat</th>
      <td mat-cell *matCellDef="let element" class="nn">{{ element.etat }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="mm">Action</th>
      <td mat-cell *matCellDef="let element" class="action-link" class="nn">
        <a class="voir  btn-sm" (click)="voir(element)" id="fonc"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>Consulter</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
