<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Linking CSS File index.css -->

   

    
</head>

<body>

    <div class="container-fluid">
        <h2 class=" faiza text-center  display-3 ">Nos <span class="theme-text">Services</span></h2>
        <hr class="mx-auto mb-5 w-50">
        <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div  class="card shadow">
                    <img src="assets/1i.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service de la Gestion des Réseaux 
                            d’Irrigation et du Drainage
                        </h3>
                        <hr class="mx-auto w-75">
                        <p>
                            - Bureau des Ressources Hydrauliques <br>
                            - Bureau de l’Exploitation et de la Maintenance <br>
                            - Bureau des Techniques d’Irrigation<br>
                        
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/2i.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service de l’Equipement</h3>
                        <hr class="mx-auto w-75">
                        <p >
                     	- Bureau d’Etudes et de Topographie<br>
                        - Bureau des Travaux d’Equipement Hydro-Agricole <br>
                        - Bureau de L’Aménagement Rural et d’Equipement des Services <br>
                        <br>
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/i3.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le service de la production Agricole</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            -Bureau des Etudes Agro-Economiques<br>
                            -Bureau des Actions Agricoles<br>
                            -Bureau de gestion des C.M.V<br>
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            

            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/i4.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service de l’Elevage</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            -Bureau de la Production Animale<br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        
                           

                        </p>
                    </div>
                </div>
                
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/i5.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service de la Vulgarisation et de  l’Organisation Professionnelle</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            	-Bureau de la Vulgarisation et du Crédit <br>
                            	-Bureau de l’Organisation Professionnelle <br>
                            	-Bureau de l’Audiovisuel <br>
                            	-Bureau des Structures Foncières<br>
                                
                                
                    
                        </p>
                    </div>
                </div>
                
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/i6.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service Administratif et Financier</h3>
                        <hr class="mx-auto w-75">
                        <p>
	                  -Bureau du Personnel et des Œuvres Sociales<br>
			          -Bureau Juridique et Domanial<br>
			          -Bureau de la Comptabilité Publique<br>
			          -Bureau de la Formation et du Perfectionnement<br>

                        </p>
                    </div>
                </div>
                
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/7i.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service de la planification et des Programmes
                           </h3>
                        <hr class="mx-auto w-75">
                        <p>
	                       -Bureau des Budgets<br>
	                       -Cellule Comptable<br>
		                   -Bureau du Suivi Evaluation<br>
	                       -Bureau de l’Informatique<br>
                           <br>
                          <br>
                          

                        </p>
                    </div>
                </div>
                
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="assets/8i.png" alt="" class="card-img-center">
                    <div class="card-body">
                        <h3 class="text-center">Le Service du Matériel</h3>
                        <hr class="mx-auto w-75">
                        <p>
	                      -Bureau des Approvisionnements et de l’inventaire <br>
		                  -Bureau du parc et de l’entretien<br>
                          <br>
                          <br>
                          <br>
                          <br>
                         

                        </p>
                    </div>
                </div>
                
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
        </div>
    </div>
    


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>


