<div class="container bg-white shadow">
    <div class="py-4 mt-5"> 
    <div class='text-center pb-2'><h4>Consulter Demande</h4></div>
    <table style="width:100%" class="table-hover text-center ">
    <tr class="bg-dark">
        <th>Nombre de jours</th>
        <th>Data demande</th>
        <th>Date départ</th>
        <th>Date retour</th> 
        <th>Consulter</th>
        <th>Etat</th>
    </tr>
    <tr>
            <td>8</td>
            <td>21/01/2022</td>
            <td>04/02/2022</td>
            <td>04/02/2022</td>
            <td><a href=""><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
            <td>En cour de traitement</td>
           
        
    </tr>
    <tr>
        <td>8</td>
        <td>21/01/2022</td>
        <td>04/02/2022</td>
        <td>04/02/2022</td>
        <td><a href=""><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
        <td>En cour de traitement</td>
       
    
</tr>
<tr>
    <td>8</td>
    <td>21/01/2022</td>
    <td>04/02/2022</td>
    <td>04/02/2022</td>
    <td><a href=""><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
    <td>En cour de traitement</td>
   

</tr>
<tr>
    <td>8</td>
    <td>21/01/2022</td>
    <td>04/02/2022</td>
    <td>04/02/2022</td>
    <td><a href=""><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
    <td>En cour de traitement</td>
   

</tr>
<tr>
    <td>8</td>
    <td>21/01/2022</td>
    <td>04/02/2022</td>
    <td>04/02/2022</td>
    <td><a href=""><i class="fa-solid fa-arrow-right-to-bracket"></i></a></td>
    <td>En cour de traitement</td>
   

</tr>
    </table>
    </div>
</div>