<h1>Nouvelle demande</h1>
<div class="formulaire">
  <form action="#" method="post">
    <label for="matricule">id congé :&nbsp;</label>
    <input
      required=""
      type="text"
      name="matricule"
      class="zone"
      id="matricule"
      readonly="readonly"
      [(ngModel)]="data.id"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;

    <label for="Nj"> Nombre de jours:</label>
    <input
      type="number"
      name="nombre de jours"
      class="zone1"
      id="Nj"
      readonly="readonly"
      [(ngModel)]="data.nombreDeJours"
    />
    <br />

    <label for="dateD">Date de demande:&nbsp;</label>
    <input
      required=""
      type="Date"
      name="Date"
      class="zone1"
      id="dateD"
      readonly="readonly"
      [(ngModel)]="data.dateDemande"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;

    <label for="Ddp">date de départ:</label>
    <input
      required=""
      type="date"
      name="datedepart"
      class="zone1"
      id="Ddp"
      readonly="readonly"
      [(ngModel)]="data.dateDebut"
    />
    <br />

    <label for="Dr">date de retour:</label>
    <input
      required=""
      type="date"
      name="dateretour"
      class="zone1"
      id="Dr"
      readonly="readonly"
      [(ngModel)]="data.dateFin"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <label for="TC">Type congé :</label>
    <input
      required=""
      type="text"
      name="typeconge"
      class="zone"
      id="TC"
      readonly="readonly"
      [(ngModel)]="data.type"
    />
    <br />
    <label for="Interimaire"> Interimaire : </label>
    <input
      type="text"
      name="Interimaire"
      required=""
      class="tc"
      id="Interimaire"
      readonly="readonly"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <br />

    <label for="adresse"> Adresse de congé: &nbsp;&nbsp;&nbsp; </label>
    <input
      type="text"
      name="Adresse"
      required=""
      class="wd"
      id="adresse"
      readonly="readonly"
      [(ngModel)]="data.adresseConge"
    />

    <br />
    <button
      class="Accepter"
      (click)="accept(data)"
      [disabled]="clickedAccept[data.id]"
    >
      <i class="fa-solid fa-check"></i>&nbsp; Valider
    </button>

    <h3 class="text-center" style="color: green" *ngIf="isAccepted">
      Vous Avez Accepté le congé
    </h3>
  </form>
</div>
