
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form (ngSubmit)="newPersonne()" [formGroup]="personneForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Ajouter Agent</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputBox ">
                                <label for="Ddp">Nom :</label>
                                <input type="text" name="" class="input" formControlName="nom" required="required">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label for="Ddp">Prénom :</label>
                                <input type="text" name="" class="input" formControlName="prenom" required="required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label for="Ddp">Matricule :</label>
                                <input type="text" name="" class="input"  formControlName="matricule" required="required">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label for="Ddp">Téléphone :</label>
                                <input type="text" name="" class="input" formControlName="telephone" required="required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label for="Ddp">Adresse :</label>
                                <input type="text" name="" class="input" formControlName="adresse" required="required">
                            </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Grade :</label>
                                    <input type="text" name="" class="input" formControlName="grade" required="required">
                                </div>
                            </div>
                            </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label for="Ddp">Fonction :</label>
                                <input type="text" name="" class="input" formControlName="fonction" required="required">        
                            </div>
                           </div> 
                             
                            <div class="col-sm-6">
                                <div class="inputBox">
                                    <label for="Ddp">Service :</label>
                                    <input type="text" name="" class="input" formControlName="service" required="required">
                                    
                                </div>
                             </div>
                             </div>    

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="inputBox">
                                <label for="Ddp"> Photo :</label>
                                <input type="file" name="image" class="input" formControlName="image" required="required">
                                
                            </div>
                         </div>
                        <div class="col-sm-12">
                            <input type="submit" name="" class="button" value="Ajouter">
                        </div>
                       
                    </div>
                    <br />
                    <p *ngIf="isPassed" style="color: green">{{ success }}</p>
                    <p *ngIf="!isPassed" style="color: red">{{ error }}</p>
            </form>
        </div>
    </div>
</div>
