
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap');
img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
body{
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
}

.section-container{
--bs-gutter-x: 1.5rem;
--bs-gutter-y:0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right : calc(var(--bs-gutter-x)/ -2); 
  margin-left: calc(var(--bs-gutter-x)/ -2) ;
}

.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
}
.section-container .columns.image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.section-container .columns.content{
  padding: 40px 50px;
}
.section-container .columns.content h5{
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}
.section-container .columns.content p{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  margin-bottom: 15px;
  text-align: justify;
}


