<img src="assets/pexels-pixabay-164025.jpg">  
      <section class="hero ">
        <div class="hero-body">
          <p class="subtitle">
            L’Office Régional de Mise en Valeur Agricole de Ouarzazate a été créé le 22/10/1966 par le Décret Royal no 829-66 du 22 octobre 1966, tel qu’il a été modifié par le Dahir portant loi no 1-74388 de 2 septembre 1975. Il s’agit d’un établissement public doté de la personnalité morale et de l’autonomie financière. Il est placé sous la tutelle du Ministère de l’Agriculture, des Pêches Maritimes, du Développement Rural et des Eaux et Forêts.
Les missions dévolues à l’ORMVAO consiste à :
-Favoriser la mise en valeur des exploitations.
-Gérer les ressources en eau à usage agricole.
-Assurer l’encadrement des agriculteurs.
-Réaliser les études et les équipements Hydro agricoles.

          </p>
        </div>
      </section>
      