<!--carousel-->
<ngb-carousel id="Faiza" *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random first slide">
    </div>
  </ng-template>
  
</ngb-carousel>
<br>
<!-- End carousel-->
<body>
<div class="section-container">
  <div class="columns image" style="background-image: url('assets/P2 (3).jpg')">
  &nbsp;
  </div>

  <div class="columns content" >
      <div class="content-container">
        <h5> L’Office Régional de Mise en Valeur Agricole de Ouarzazate </h5>
             <p>
              L’Office Régional de Mise en Valeur Agricole de Ouarzazate a été créé le 22/10/1966 par le Décret Royal no 829-66 du 22 octobre 1966, tel qu’il a été modifié par le Dahir portant loi no 1-74388 de 2 septembre 1975. Il s’agit d’un établissement public doté de la personnalité morale et de l’autonomie financière. Il est placé sous la tutelle du Ministère de l’Agriculture, des Pêches Maritimes, du Développement Rural et des Eaux et Forêts. <br>
Les missions dévolues à l’ORMVAO consiste à : <br>
-Favoriser la mise en valeur des exploitations. <br>
-Gérer les ressources en eau à usage agricole. <br>
-Assurer l’encadrement des agriculteurs. <br>
-Réaliser les études et les équipements Hydro agricoles. <br>

             </p>
  
  </div>    
</div>
</div>

<div class="section-container">
  

  <div class="columns content" >
      <div class="content-container">
        <h5> Les ORMVA</h5>
        <p>
         Les ORMVA sont des établissements étatiques dotés de la personnalité morale et de l’autonomie financière et juridique. La mise en place de ces organismes est motivée par plusieurs facteurs. Ainsi, les missions assignées aux ORMVA peuvent se résumer comme suit : <br>
     -La promotion de l'agriculture dans leur zone d'action ; <br>
     -La gestion des ressources en eau ;<br>
     -La formation professionnelle des agricultures et la vulgarisation du monde rural ;<br>
     -L’aménagement des ouvrages hydro-agricoles.<br>
     -L’aménagement et l’équipement hydro agricole ;<br>
     -L’intensification et la diversification des filières agricoles ;<br>
     -Le développement des productions animales ;<br>
     -L’encadrement des organisations professionnelles ;<br>
     -La promotion des activités féminines ;<br>
     -La préservation de l’environnement et la conservation de la biodiversité ;
        </p>
          
        </div>    
      </div>
    <div class="columns image" style="background-image: url('assets/P2 (2).jpg')">
    &nbsp;
   </div>
</div>

<div class="section-container">
  <div class="columns image" style="background-image: url('assets/P2 (1).jpg')">
  &nbsp;
  </div>

  <div class="columns content" >
      <div class="content-container">
   <h5>La zone d’action </h5>
   <p>
    La zone d’action de l’ORMVAO  s’étend   sur une superficie totale  de 5 500 000 Ha, dont : <br>
    SAU : 7800 Ha <br>
    parcours : 4400000 Ha <br>
    Forets : 82000 Ha <br>
    Incultes : 940000 Ha <br>
    Les limites géographiques : <br>
    - Nord : province de MARRAKECH et d’AZILAL <br>
    -  Est : province d’ERRACHIDIA <br>
    - Ouest : province de TAROUDANTE et de TATA <br>
    - Sud-est : frontières Algériennes <br>
    
   </p>
   
   

  </div>    
</div>
</div>
</body>


      