<div class="formulaire">
  <form action="#" method="post">
    <label for="matricule">Matricule :&nbsp;</label>
    <!-- <p>{{ data.id }}</p> -->
    <input
      required=""
      type="text"
      name="matricule"
      class="zone"
      id="matricule"
      readonly="readonly"
      [(ngModel)]="data.id"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;

    <label for="prenom">Prénom : &nbsp;</label>
    <input
      required=""
      type="text"
      name="prenom"
      class="zone"
      id="prenom"
      readonly="readonly"
    />
    <br />

    <label for="nom">Nom :&nbsp; &nbsp; &nbsp; &nbsp;</label>
    <input
      required=""
      type="text"
      name="nom"
      class="zone"
      id="nom"
      readonly="readonly"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- <label for="fonction">Fonction: &nbsp;</label>
    <input
      required=""
      type="text"
      name="fonction"
      class="zone"
      id="fonction"
      readonly="readonly"
    /> -->
    <label for="email">Email :&nbsp; &nbsp;&nbsp;&nbsp;</label>
    <input
      required=""
      type="email"
      name="email"
      class="zone"
      id="email"
      readonly="readonly"
    />
    <br />
    <label for="telephone">Téléphone: &nbsp;</label>
    <input
      required=""
      type="text"
      name="telephone"
      class="zone"
      id="telephone"
      readonly="readonly"
    />
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <label for="grade"> Grade: &nbsp;&nbsp;&nbsp; &nbsp;</label>
    <input type="text" name="grade" class="zone" id="grade" />
    <br />

    <label for="dateD">Date de demande:&nbsp;</label>
    <input
      required=""
      type="Date"
      name="Date"
      class="zone1"
      id="dateD"
      readonly="readonly"
      [(ngModel)]="data.dateDebut"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;

    <label for="Ddp">date de départ:</label>
    <input
      required=""
      type="date"
      name="datedepart"
      class="zone1"
      id="Ddp"
      readonly="readonly"
      [(ngModel)]="data.dateDebut"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
<label for="Nj"> Nombre de jours:</label>
<input
  type="number"
  name="nombre de jours"
  class="zone1"
  id="Nj"
  readonly="readonly"
  [(ngModel)]="data.nombreDeJours"
/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="Dr">date de retour:</label>
    <input
      required=""
      type="date"
      name="dateretour"
      class="zone1"
      id="Dr"
      readonly="readonly"
      [(ngModel)]="data.dateFin"
    />
    <br>

    <label for="TC">Type congé :</label>
    <input
      required=""
      type="text"
      name="typeconge"
      class="zone"
      id="TC"
      readonly="readonly"
      [(ngModel)]="data.type"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="Interimaire"> Interimaire : </label>
    <input
      type="text"
      name="Interimaire"
      required=""
      class="zone"
      id="Interimaire"
      readonly="readonly"
    />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <br />

    <label for="adresse"> Adresse : &nbsp;&nbsp;&nbsp; </label>
    <input
      type="text"
      name="Adresse"
      required=""
      class="wd"
      id="adresse"
      readonly="readonly"
      [(ngModel)]="data.adresseConge"
    />
    <br />
    <button class="Accepter" (click)="accept(data)" [disabled]="clickedAccept[data.id]">
      <i class="fa-solid fa-check"></i>&nbsp; Accepter
    </button>
    <button class="Refuser" (click)="refuse(data)" [disabled]="clickedRefuse[data.id]">
      <i class="fa-solid fa-xmark"></i>&nbsp; Refuser
    </button>
    <h3 class="text-center"  style="color:green;" *ngIf="isAccepted">Vous Avez Accepté le congé</h3>
<h3 class="text-center"  style="color:red;" *ngIf="isRefused">Vous Avez refusé le congé</h3>
  </form>
</div>
